DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_USER_ID=

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_USERNAME=

# If empty results are related to user's preferred mode
# osu = osu!std
# mania = osu!mania
# taiko = osu!taiko
# fruits = osu!catch
OSU_MODE=